<%- include("../include/header.ejs") %>
<%- include("../include/navbar.ejs") %>

<div class="container">
  <form action="#" enctype="multipart/form-data" method="post">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" >
  </div>
  <div class="mb-3">
    <label for="body" class="form-label">Body</label>
    <textarea class="form-control" id="body" rows="3"></textarea>
  </div>
    <input id="file" type="file" multiple="multiple" accept="image/*">
  </form>
  <div id="img_area"></div>
  <button class="btn btn-outline-secondary" id="new_button">작성</button>
</div>

<script src="../js/article/new.js"></script>
<%- include("../include/footer.ejs") %>